{
	"env": {
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018
	},
	"extends": [
		"airbnb-base",
		"plugin:jest/recommended",
		"prettier"
	],
	"plugins": [
		"prettier",
		"jest"
	],
	"rules": {
		"prettier/prettier": "error",
		"no-underscore-dangle": [
			"error",
			{
				"allow": [
					"__get__",
					"__set__"
				]
			}
		]
	}
}